* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 6em 10px 1fr;
    grid-template-columns: [mainstart] 1fr [mainend] 10px [sidebarestart] 25% [sidebarend];
}

.grid-item-content {
    background-color: #2cb7f8;
    grid-row: 3 / 4;
    grid-column: mainstart / mainend;
}

.grid-item-sidebar {
    background-color: #a9ff82;
    grid-row: 3 / 4;
    grid-column: sidebarestart / sidebarend;
}

.grid-item-header {
    background-color: #fa92fd;
    grid-row: 1 / 2;
    grid-column: mainstart / sidebarend;
}

.grid-item {
    color: #fff;
    text-align: center;
}