.box {
    border: 3px solid black;
}

.container {
    display: grid;
    width: 100 vw;
    gap: 5px;
    grid-template-columns: 100px 30% 40%;
    grid-template-rows: 200px 100px;
    justify-content: space-between;
    grid-template-areas:
        "box_one box_one box_one"
        "box_two box_three box_four"
        "box_five box_five box_five"
        "box_six box_six box_six";
}

.box_one {
    grid-area: box_one;
    background-color: purple;
}

.box_two {
    grid-area: box_two;
    background-color: gray;
}

.box_three {
    grid-area: box_three;
    background-color: pink;
}

.box_four {
    grid-area: box_four;
    background-color: #bada55;
}

.box_five {
    grid-area: box_five;
    background-color: #b7c441ab;
}

.box_six {
    grid-area: box_six;
    background-color: #78dfecbe;
}